/* Whole document: */
body{
  font-family: Cambria;
  font-size: 13pt;
  background-color:#f2f3f5;
}
.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-family: Cambria;
  font-size: 26pt;
}

.date {
  text-align: center;
  font-family: Cambria;
  font-size: 16pt;
}

.author {
  text-align: center;
  font-family: Cambria;
  font-size: 20pt;
}